

.box-blau{
    background-color: #78BCFF !important;
    border-radius: 0px !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    box-shadow: none !important;
    margin: 0 !important;
}


.button-top-header{
    margin-right: 15px !important;
}

.icon-top-header{
    margin-right: 10px !important;
    font-size: 20px;
}

.align-center {
    
}


.container-aussen{
    width: 100%;
    
}

.container-innen{
    margin: 0 auto; /*mittig zentrieren*/
    width: 100%;
    max-width: 1280px;

}

.hero-body {
    background: url('images/header-start.jpg');
    background-size: cover;
    background-position: center center;
}


.logo{
    max-width: 130px !important;
    max-height: 100% !important;
}

.is-active{
    background-color: #FF702E !important;
    border-radius: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff !important;
}

.untermenue:hover {
    background-color: #fff !important;
    color: #4a4a4a !important;
}

.navbar{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    box-shadow: none !important;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

.button{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}


.color-orange{
    color: #FF702E !important;
}


h1 {
    font-size: 40px;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
}

.headline-h1{
    padding-top: 30px;
}

    
.pfeil-home{
    font-size: 40px;
    color: #FF702E !important;
    margin-bottom: 20px;
}

.text-block-blau{
    background-color: #78BCFF !important;
    padding: 30px;
}


h2 {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
    color: #fff;
}


p{
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: #fff !important;
}
    

.strich-text{
   background-color: #fff;
    display: inline-block;
    height: 2px;
    width: 50px;
    margin-bottom: 5px;
     
}


.trenner {
    border: 0;
    background-color: #fff;
    background-image: url('images/trennlinie.png');
    background-size: contain;
    background-repeat: repeat-x;
    height: 12px;
    margin-top: 20px;
}




/*Farbige Boxen : START */

.bg-blau {
    background-color: #78BCFF;
}

.bg-grau{
    background-color: #C5C5C5;
}

.bg-gelb{
    background-color: #FDC500;
}

.bg-gruen{
    background-color: #26BC00;
}

/*Farbige Boxen : END */


.box-logo {
    font-size: 5rem;
}

.bg-box {
    max-width: 80%;
    margin: 0 auto;
    padding: 10px !important;
}


.teaser-kasten{
    box-shadow: none;
    margin-top: 20px;
    
}

.box-logo-text{
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}


.teaser-kasten-radius {
    border-radius: 10px !important;
}

/*Farbige Boxen : END */


/*SLIDER : START*/
.slider {
    width: 100%;
    max-width: 800px;
    height: 100%;
    position: relative;
    overflow: hidden;  /* <===  */
    border-radius: 15px;
}

.slide {
    position: relative;
}
.slider-initialized .slide {
    width: 100%;
    max-width: 800px;
    height: 100%;
    position: absolute;
    transition: all 0.5s;
}


.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-wrapper {
    height: auto;
    display: grid;
    place-items: center;
    position: relative;
}
.slider-initialized.slider-wrapper {
    height: 600px;
}

.slider {
    width: 100%;
    max-width: 800px;
    height: 100%;
    position: relative;
    /* overflow: hidden; */
}


.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
    color: orange;

}

.btn:active {
    transform: scale(1.1);
}

.btn-prev {
    top: 45%;
    left: 2%;
}

.btn-next {
    top: 45%;
    right: 2%;
}

.slide-text {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 30px;
    padding: 25px;
    background-color: blue;
    color: white;
}

.pagination {
    position: absolute;
    bottom: -20px;
    display: flex;
}
.pag-circle {
    background-color: #6f6f6f;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    margin: 0 5px;
}
.pag-circle.is-active {
    background-color: orange;
}
/*SLIDER : END*/

.footer-box{
    margin-top: 20px;
    border-radius: 0px;
    align-items: center;
}

.h2-start {
    color: #4a4a4a;
    font-size: 25px !important;
}
